/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s linear;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Start */

section {
    padding: 100px 0;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span {
    color: #e8960f;
    transition: all 0.3s ease;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover {
    color: #e8960f;
}
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Home */
.home {
    display: flex;
    background: url('Images/background.jpg');
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width {
    width: 100%;
    display: flex;
}
.max-width .icons i{
    border-radius: 10%;
    font-size: 2rem;
    margin: 10px;
    cursor: pointer;
}
.max-width .icons i:hover {
    color: #e8960f;
}

.home .home-content {
    margin-top: 5%;
}
.home .home-content .text-1 {
    font-size: 28px;
}
.home .home-content .text-2 {
    font-size: 75px;
}
.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span {
    color: #e8960f;
    font-weight: 500;
}
button {
    display: inline-block;
    background: #e8960f;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid #e8960f;
    transition: all 0.3s ease;
}
button:hover {
    color: #e8960f;
    background: none;
}

/* Hire Me Page Start */
.contact-me {
    background: #21232c;
    height: 100vh;
    width: 100%;
}
.contact-me .title {
    border-bottom: 0.1rem solid #a19f9f;
    width: 400px;
    margin: auto;
    margin-top: 8rem;
    color: #fff;
}
.contact-us {
    display: block;
    text-align: center;
    box-sizing: border-box;
}
.contact-us .content {
    margin-top: 2rem;
}
.contact-us .content span {
    font-weight: bold;
    font-size: 30px;
    color: #d4d4d4;
}
.contact-us .content p {
    width: 910px;
    color: #fff;
    font-size: 18px;
    margin: auto;
    margin-bottom: 20px;
}
.contact-us .icons {
    border-top: 0.1rem solid #a19f9f;
}
.contact-us .icons a {
    color: #fff;
}
/* Hire Me Page Start */

/* About Section Start */
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.about {
    background: #21232c;
    color: #fff;
}
.text-p1 {
    text-align: center;
    margin: 10px auto;
    width: 100px;
    border-bottom: 1px solid #999;

}
p{
    color: #999;
}
section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}
.about .about-content .left {
    width: 45%;
}
.about .about-content .left {
    height: 400px;
    width: 400px;
}
.about .about-content .left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right {
    width: 55%;
}
.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span {
    color: #e8960f;
}
.about .about-content .right .text p {
    text-align: justify;
    color: #999;
}
/* About Section End */

/* My Services Section Start */
.service-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.services, .teams {
    color: #fff;
    background: #111;
}
.services .service-content .card {
    width: calc(33% - 40px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .title::before,
.teams .title::before {
    background: #fff;
}
.services .service-content .card:hover {
    background: #e8960f;
    color: #fff;
}
.services .service-content .card p {
    color: #fff;
}
.services .service-content .box {
    transition: all 0.3s ease;
}
.services .service-content .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .service-content i {
    color: #fff;
    font-size: 25px;
}
/* My Services Section End */

/* Skill Section Start */
.skill {
    background: rgba(33, 35, 44, 1);
}
.skill .title {
    color: #fff;
    border-bottom: 0.1rem solid #fff;
}
.article-container .icon {
    cursor: pointer;
    height: 2rem;
}
.about-container {
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.about-container {
    display: flex;
}
.details-container {
    padding: 1.5rem;
    flex: 1;
    background: #fff;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
}
.sub-title {
    color: rgb(85,85,85);
    text-align: center;
    border-bottom: 0.1rem solid #111;
    margin: 20px;
}
.experience-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-between;
}
article {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
/* Skill Section End */

/* Work Section Start */
.work {
    background: #4a5c62;
}
.work .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.work .box-container .box {
    height: 20rem;
    flex: 1 1 30rem;
    border: .5rem solid #050505;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
}
.work .box-container .box img {
    height: 100%;
    width: 99.8%;
    object-fit: cover;
}
.work .box-container .box .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}
.work .box-container .box:hover .content {
    transform: translate(-50%, -50%) scale(1);
}
.work .box-container .box .content h3 {
    font-size: 1rem;
    color: #666;
}
.work .box-container .box .content p {
    font-size: 1rem;
    color: #666;
    padding: 1rem 0 0;
}
/* Work Section End */

/* Demo work Details Start  */
.website {
    background: #21232c;
    height: 100vh;
    width: 100%;
}
.website .title1 {
    border-bottom: 0.1rem solid #a19f9f;
    width: 350px;
    text-align: left;
    color: #fff;
}
.website img {
    position: absolute;
    height: 350px;
    width: 500px;
    margin-left: 100px;
}
.website ul li {
    text-align: left;
    color: #fff;
    font-size: 20px;
    margin-left: 30px;
}
.website h5 {
    margin-top: 20px;
    font-weight: normal;
    width: 600px;
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
}
.website .icon {
    border-top: 0.1rem solid #a19f9f;
    width: 300px;
    font-size: 25px;
}
.website .icon i {
    margin: 10px;
    color: #fff;
}
.website i:hover {
color: red;
}
/* Demo work Details End  */

/* My Teams Section Start */
.teams .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover {
    background: #e8960f;
}
.teams .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box {
    transform: scale(1.05);
    cursor: pointer;
}
.teams .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #e8960f; 
}
.teams .carousel .card:hover img {
    border-color: #fff;
}
.teams .carousel .card:hover p {
    color: #fff;
}
/* For Slider Button */
.owl-dots {
    text-align: center;
    margin-top: 20px;
}
.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #e8960f!important;
    transition: all 0.3s ease;
}
.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
background: #e8960f!important;
}
/* For Slider Button */

/* My Teams Section End */

/* Contact Form Start */
.contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact {
    background: #4a5c62;
}
.contact .contact-content .column {
    width: calc(50% - 30px);
}
.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #ededed;
}
.contact .contact-content .left p {
text-align: justify;
color: #ededed;
font-family: 'poppins' sans-serif;
}
.contact .contact-content .left .icons {
    margin: 10px 0;
}
.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info {
    margin: 30px;
}
.contact .contact-content .row i {
    font-size: 25px;
    color: #e8960f;
}
.contact .contact-content .info .head {
    font-weight: 600;
    color: #fff;
}
.contact .contact-content .info .sub-title1 {
    color: #fff;
}
.contact .right form .fields {
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .name {
    margin-right: 10px;
}
.contact .right  form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 0 15px;
    outline: none;
    font-size: 17px;
    font-family: 'poppins' sans-serif;
    transition: all .3s ease;
}
.contact .right  form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}
/* Contact Form End */

/* Footer Section Start */
footer {
    background: #111;
    padding: 15px 23px;
    text-align: center;
    color: #fff;
}
footer span a {
    color: crimson;
    text-decoration: none;
}
footer span a:hover {
    text-decoration: underline;
}
/* Footer Section End */

